body, html {
  overflow: hidden;
  height: 100%
}

.bg-layer { 
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
  filter: brightness(20%);

}

.bg-layer.active {
  opacity: 1;
}




.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #616161;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 450px;
  height: 450px;
  margin-left: -225px; /* half of the width and height */
  margin-top: -225px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5rem;
  text-align: center;
  transition: background-color 0.8s ease;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  z-index: 2;
  font-size: 3.5em;
}



.segment {
  transition: transform 0.4s ease;
  transform-origin: top;
}

.segment:hover {
  transform: scale(1.01);
}

.info{
  position: absolute;
  text-align: left;
  flex: none;
  width: 25%;
  size: 100%;
  right: 5%;
  z-index: 0;
  color: white;
  text-wrap: wrap;
  padding: 0.5%;
  font-size: larger;
}

a:link {
  color: lightgoldenrodyellow;
}

a:visited {
  color: lightgoldenrodyellow;
}

a:hover {
  color: rgb(248, 156, 81);
}



